/* univarsal_stuffs */
.univarsal_btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 36px;
}
.uni_desc {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.uni_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
body {
  width: 100%;
  height: 100%;
}

* {
  font-family: "Open Sans";
}

/* header section styels */

/* nav styes */
nav h3 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  margin-left: 226px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
}
nav ul li {
  display: inline;
  margin-right: 51px;
}
nav ul a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
nav span {
  color: #fd6e0a;
}
header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
  margin: 0px;
}
.heade_uni {
  display: flex;
  margin-left: 170px;
  margin-right: 30px;
  justify-content: space-between;
}
.head_about {
  padding-top: 150px;
}
.desc_title {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.desc_about {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}
.desc_desc {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 0px;
  margin-bottom: 30px;
  width: 585px;
}
.head_contact_btn {
  color: #fd6e0a;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 19px 23px 18px 30px;
  margin-left: 30px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}
.margan {
  margin-right: 25px;
}
.head_images {
  padding: 0px;
  margin: 0px;
  height: 676px;
  flex-shrink: 0;
}

/* body desing */
/* about me */

.about {
  border-radius: 10px;
  background: #fff8f3;
  width: 1140px;
  margin: 130px auto;
}
.about_container {
  display: flex;
  gap: 50px;
  padding-left: 179px;
  padding-right: 179px;
  padding-bottom: 131px;
  margin-top: 50px;
}
#titl {
  padding-top: 130px;
  margin-bottom: 50px;
}
#des {
  width: 827px;
  margin: 0px auto;
}
.detail_title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.detail_desc {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* what i do */
.skill_container {
  display: flex;
  gap: 24px;
}
.what_i_do {
  width: 1140px;
  margin: auto;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill_img {
  padding-top: 30px;
  padding-left: 30px;
}
.skill_title {
  padding-left: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skill_desc {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin: 0px;
  color: var(--Dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* resume */
.resume {
  width: 1140px;
  margin: 130px auto;
}
.resume_cotainer {
  display: flex;
  gap: 71px;
  margin-top: 50px;
}
.edu_title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.head {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}
.sub_head {
  color: var(--Dark-03, #757575);
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}
.head_desc {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 0px;
  margin-bottom: 30px;
}
.cb_button {
  text-align: center;
  margin-top: 69px;
}

/* footer design */
footer {
  background: #fff8f3;
}
.column_container {
  display: flex;
  gap: 117px;
  padding-bottom: 120px;
  justify-content: space-between;
}
.column {
  padding-left: 117px;
}
.column1 {
  padding-right: 230px;
}
#saima {
  text-align: left;
  margin-bottom: 20px;
  padding-top: 130px;
}
#tasnima {
  width: 562px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 30px;
}
footer a {
  margin-right: 24px;
  margin-left: 0px;
  padding-left: 0px;
}
#name,#email,#textarea {
  border-radius: 5px;
  background: #fff;
  width: 461px;
  height: 64px;
  flex-shrink: 0;
  border:none;
  margin-bottom: 24px;
  resize: none;
  padding-left: 30px;
}
textarea{
  padding-top: 30px;
}

